@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;700;900&display=swap');

* { 
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root {
    --background-color:rgb(220, 220, 255);
    --side-bar-color:#FFFF;
    --font-color:rgb(0, 0, 0);
    --hover-color:rgb(140, 140, 248);
    
}

body { 
    height:100vh;
    background:var(--background-color);
    font-family: 'Heebo', sans-serif;
}

/* SIDE BAR CREATED */

.side-bar { 
    top:0;
    left:0;
    position:fixed;
    width:250px;
    height:100%;
    padding:16px;
    background:var(--side-bar-color);
    
}

.side-bar .text-logo{ 
    display:flex;
    justify-content:center;
}

.logo-title { 
    text-decoration:none;
    color:var(--font-color);
    font-size:2rem;
    font-weight:600;

    
}


.side-bar li { 
    margin-top:15px;
    height:60px;
    display:flex;
    align-items:center;
    border-radius:4px;
}

.main-content .search-container { 
        background:var(--background-color);

}

.side-bar .search-container i,
.side-bar .list-item i { 
    min-width:60px;
    font-size:1.6rem;
    font-weight:500;
   
}

.side-bar li a { 
    text-decoration:none;
    color:var(--font-color);
    transition:0.3s;
}

.side-bar li a:hover { 
    color:var(--hover-color);
}

.list-item a span { 
    font-size:1.2rem;
    font-weight:500;
}

.main input { 
    height:100%;
    width:100%;
    background:none;
    outline:none;
    border:none;
    padding-right:15px;

}

.main input::placeholder { 
    color:var(--font-color);
}

.mode { 
    display:flex;
    justify-content:space-between;
}

.moon-sun { 
    height:60px;
    min-width:50px;
    display:flex;
    align-items:center;
    justify-content:Center;
}
.moon-sun i{ 
    position:absolute;
    display:flex;
    justify-content:Center;
    
   
}

.mode .toggle-switch { 
    display:flex;
    align-items:center;
    justify-content:center;
    height:100%;
    min-width:60px;
    ;
    
}

.mode .mode-text { 
    font-weight:500;
    font-size:1.2rem;
}

.sun {
    opacity:0;
 }

.mode .toggle-switch .switch { 
    position:relative;
    height:22px;
    width: 44px;
    border-radius:50px;
    background:rgb(214, 213, 213);

    
}

.mode .toggle-switch .switch::before { 
    content:'';
    width:15px;
    height:15px;
    position:absolute;
    border-radius:50%;
    background:grey;
    top:50%;
    left:5px;
    transform:translateY(-50%);
    cursor:pointer;
    
}

.main { 
    display:flex;
    flex-direction:column;
    height:calc(100% - 50px);
    justify-content:space-between;
}