@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;700;900&display=swap');

* { 
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root {
    --background-color:rgb(220, 220, 255);
    --side-bar-color:#FFFF;
    --font-color:rgb(0, 0, 0);
    --hover-color:rgb(140, 140, 248);
    
}

body { 
    height:100vh;
    background:var(--background-color);
    font-family: 'Heebo', sans-serif;
}

